<html xmlns="http://www.thymeleaf.org">

<head>
	<title>검색 게시판</title>
</head>

<body>
	<h2>목록</h2>
	<form id="pgrq" action="search.html" th:action="@{|/board/search|}" th:object="${pgrq}" method="GET">
		<select th:field="*{searchType}">
			<option th:each="element : ${searchTypeCodeValueList}" th:value="${element.value}" th:text="${element.label}">
			제목
			</option>
		</select>
		
		<input type="text" name="keyword" th:field="*{keyword}">
		<button id="searchBtn">검색</button>	
	</form>
	<p><a href="register.html" th:href="@{register}">New</a></p>
	<p><a href="search.html" th:href=${search}>검색 홈</a></p>
	<table border="1">
		<tr>
			<th align="center" width="80">번호</th>
			<th align="center" width="320">제목</th>
			<th align="center" width="100">글쓴이</th>
			<th align="center" width="180">등록일</th>
		</tr>
		<tr th:if="${#lists.isEmpty(search)}">
        	<td colspan="4">
            검색 결과가 없습니다.
         	</td>
      	</tr>
      
      	<tr th:each="board : ${search}">
         	<td align="center" th:text="${board.boardNo}">${board.boardNo}</td>
         	<td align="left"><a href="read.html" th:href="@{|/board/read?boardNo=${board.boardNo}|}" th:text="${board.title}">${board.title}</a></td>
        	<td align="right" th:text="${board.writer}">${board.writer}</td>
         	<td align="center" th:text="${#temporals.format(board.regDate, 'yyyy-MM-dd HH:mm:ss')}">${board.regDate}</td>
      	</tr>
	</table>
	
	<script th:inline="javascript">
		var result = [[${msg}]];
		
		if(result){
			alert(result);
		}
	</script>
</body>

</html>